/* .container {
    padding-top: 70px;
} */
.title {
    background-color: coral;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-transform: capitalize;
    font-family: "Dancing Script", cursive;
    width: fit-content;
    border-radius: 10px;
}

.content {
    display: flex;
    gap: 50px;
}
